/* button {
border-radius: 45px 45px;
border: 2px 2px dashed;
background-color: rgb(143, 159, 114);
font-size: large;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(22, 48, 22);
padding: 20px;
} */

#iconButton {
    background: linear-gradient(90deg, #afcbe9, #1764b6);
    border-radius: 45px 45px;
    color: rgb(28, 25, 62);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

#iconButton:hover {
    background: linear-gradient(90deg, #0b3562, #2364a9);
}